/* issues Component's private CSS styles */
body { background: #00C0F3; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table{
    width:1550px;
}
label{
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: x-large;
}
.mat-raised-button{
    position:absolute;
    width: 60px;
    left:50%;
    top:50%;
    transform: translate(950%, -700%);
    background:#DAE0DF ;
    color: #005DA4;
  }
  .mat-button{
    background: #fff ;
    color: #005DA4;
  }
.issues {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .issues li {
    position: relative;
    cursor: pointer;
    background-color: #0000;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  
  .issues li:hover {
    color: #607D8B;
    background-color:#0000;
    left: .1em;
  }
  
  .issues a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
  
  .issues  a:hover {
    color:#607D8B;
  }
  
  .issues .badge {
    display: inline-block;
    font-size: small;
    color: #0000;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
  }