<body>
    <div class="center" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">


            <form class="vertical-center">

                <img class="myImg" src="assets/images/alien.png" alt="">
                <mat-card-content>
                    <mat-card-header>
                        <h1>Details</h1><br>
                    </mat-card-header>
                    <mat-form-field class="login-full-width">

                        <input matInput [(ngModel)]="detailsData.issueCode"  readonly="readonly" name="issueCode" placeholder="IssueCode" >
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput [(ngModel)]="detailsData.description"  readonly="readonly"  name="description" placeholder="Description">
                    </mat-form-field>
                     <br>
                    <mat-form-field class="login-full-width">

                        <input matInput [(ngModel)]="detailsData.registerTimestamp" readonly="readonly" name="registerTimestamp" placeholder="Date-Time" >
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput [(ngModel)]="detailsData.status" readonly="readonly"  name="status" placeholder="Status" >
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <textarea matInput  name="comments" readonly="readonly" placeholder="Comments" ></textarea>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="addComment(detailsData.issueCode)">Add comment</button>
                </mat-card-actions>

                <mat-card-actions>
                    <button mat-button (click)="goBack()">Go Back</button>
                </mat-card-actions>

            </form>
        </mat-card>
    </div>
</body>




