<body>
    <div class="center" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">


            <form class="vertical-center">

                <img class="myImg" src="assets/images/alien.png" alt="">
                <mat-card-content>
                    <mat-card-header>
                        <h1>Details</h1><br>
                    </mat-card-header>
                    <mat-form-field class="login-full-width">

                        <input matInput  name="issueCode" placeholder="IssueCode" required>
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput   name="description" placeholder="Description" required>
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput name="registerTimestamp" placeholder="Date-Time" required>
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput  name="status" placeholder="Status" required>
                    </mat-form-field>

                    <mat-form-field class="login-full-width">

                        <input matInput name="comments" placeholder="Comments" required>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>Add comment</button>
                </mat-card-actions>

                <mat-card-actions>
                    <button mat-button>Close</button>
                </mat-card-actions>

            </form>
        </mat-card>
    </div>
</body>